<div id="header">

  <h1>Paragraph</h1>
  <p>
    The best visual channels ordered by Mackinlay's ranking: 
  </p>

  <ul>
      <li>Position</li>
      <li>Length</li>
      <li>Angle</li>
    </ul>

</div>    
 