<style>
    p {
        color: steelblue;
        font-family: verdana;
        font-size: 20px;
      }
    </style>
    <p>I <spam style="color: brown;">really</spam> like data visualisation!</p>
      