 <!--- HTML markup --->
 <p>My lucky number is: </p>
 <p id="demo"></p>

<!--- JavaScript code --->
<script>
    const lukn = 7;


    document.getElementById("demo").innerHTML = lukn; 
      
</script>


       
 

