<p>My name is Cristian Moreno and my favorite cars brands are:</p>

<p id="demo"></p>

<script>
    // Create an Array:
const FavoriteBrands = ["Toyota", "Volvo", "Ferrari"];

// Display the Array:
document.getElementById("demo").innerHTML = FavoriteBrands; 

</script>     