<body>  
        <h1>  
        Sphere circunference Computation 
        </h1>  
        <p> The circumference of a circle with radius <p id="demo"></p> is ...m </p>  
        <p>  
        Click the following button to get the area and perimeter of circle.  
        </p>  
        <p id = "para"></p>  
        <p id = "para1"></p>  
       <button onclick = "fun()"> Click me </button> 
          
        <script>   
        const r = 20;  
        document.getElementById("demo").innerHTML = r;
        function fun()  
        {  
        document.getElementById('para').innerHTML = 'The area of circle with radius 20cm is: ' + Math.PI * r * r ;  
        document.getElementById('para1').innerHTML = 'The perimeter of circle with radius 20cm is: ' + 2 * Math.PI * r ;    
        }  
        </script>   
          
        </body>   
     